@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --main-text-color: #DC143C; 
  --second-text-color: #cccccc; 
  --accent-text-color: #8B0000; 

  --main-text-link-color: #990033;
  --hover-text-link-color: #660022;
  --active-text-link-color: #cc0055;

  --main-text-input-color: #ffffff; 
  --main-background-input-color: #333333; 

  --main-background-color: #121212; 
  --second-background-color: #222222; 

  --main-text-btn-color: #cccccc;
  --main-background-btn-color: #DC143C; 
  --hover-background-btn-color: #f70c3b; 

  --main-icon-color: #DC143C; 

  --main-background-footer-color: #121212; 

  /* Fonts */
  --main-font: "Advent Pro", serif;

  /* Fonts size */
  --main-size-desktop: 16px;
  --large-size-desktop: 30px;
  --medium-size-desktop: 20px;
  --small-size-desktop: 14px;

  /* Fonts weight */
  --main-weight: 300;
  --bold-weight: 600;
  --medium-weight: 400;
  --light-weight: 100;


  /* Icon size*/
  --main-icon-size: 32px;
  --large-icon-size: 42px;
  --small-icon-size: 20px

  /* Border radius */
  --main-border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%; 
}

body {
  margin: 20px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: var(--main-size-desktop);
  font-weight: var(--main-weight);
  font-family: var(--main-font);
}

h1 {
  font-size: var(--large-size-desktop);
}

button {
    background-color: var(--main-background-btn-color);
    color: var(--main-text-color);
    border-color: transparent;
    padding: 10px 0px;
    text-align: center;
    border-radius: var(--main-border-radius);
    font-family: var(--main-font);
    font-weight: var(--medium-weight);
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%; 
  margin: 0; 
}

.form {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--second-background-color);
  max-width: 60%;
  width: 100%;
  box-sizing: border-box;
}

.form__icon {
    width: var(--large-icon-size);
    height: var(--large-icon-size);
}

.form__icon path {
    fill: var(--main-icon-color);
}

.form__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.form__input {
  width: 100%;
  border-radius: var(--main-border-radius);
  background-color: var(--main-input-color);
  color: var(--main-text-input-color);
  padding: 10px;
}

.form__input-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--main-background-input-color);
  border: 2px dashed var(--main-text-color);
  color: var(--main-text-input-color);
  cursor: pointer;
  text-align: center;
}

.form__input-file span {
  color: var(--second-text-color);
}

.form__input-file:hover {
  background-color: var(--second-background-color);
}

.form__input-file input {
  display: none;
}

.form__file-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding: 10px;
  background-color: var(--second-background-color);
  color: var(--main-text-input-color);
  border: 1px solid var(--main-text-color);
}

.form__file-list p {
  margin: 5px 0;
  word-wrap: break-word;
}

.file__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.file__remove {
  width: 5%;
  text-align: center;
  font-size: var(--medium-size-desktop);
  cursor: pointer;
  transition: all 0.1s ease;
}

.file__remove svg path {
  fill: var(--second-text-color);
}

.file__remove:hover {
  background-color: var(--hover-background-btn-color);
}

.form__btn {
  width: 60%;
  padding: 10px 0px;
  text-align: center;
  border-radius: var(--main-border-radius);
  color: var(--second-text-color);
  font-size: var(--medium-size-desktop);
  cursor: pointer;
  transition: all 0.1s ease;
}

.form__btn:hover {
  background-color: var(--hover-background-btn-color);
}

.form__company {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.form__input { 
  width: 100%;
  border-radius: var(--main-border-radius);
  background-color: var(--main-background-input-color);
  color: var(--main-text-input-color);
  padding: 10px;
}


@media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  
    .form {
      padding: 20px 0;
      max-width: 80%;
    }
  
    .form__input,
    .form__btn {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: var(--medium-size);
    }
  
    .form {
      padding: 5px 0;
      gap: 5px;
    }
  
    .form__input,
    .form__btn {
      padding: 8px 0px;
    }
  }